/******************************************************************************
BLOG SPECIFIC STYLES START HERE 
******************************************************************************/
.box{
	position:relative;
	z-index:1;
	width:500px;
	background:rgb(48,43,42);
	color:white;
	padding:30px;
	line-height:1.6;
}

.box:after{
	content:"";
	position:absolute;
	top:20px;
	right:20px;
	bottom:20px;
	left:20px;
	z-index: -1;
	background:rgb(39,34,34);
	border-top:1px solid rgb(32,27,27);
	border-left:1px solid rgb(32,27,27);
	border-bottom:1px solid rgb(82,71,81);
	border-right:1px solid rgb(82,71,81);
}

.box h2{
	font-weight:normal;
	font-variant:normal;
	font-size:1.4em;
}