/******************************************************************************
BLOG SPECIFIC STYLES START HERE 
******************************************************************************/

.cake{
  fill: orange;
  color: orange;
}
.cake2{
  fill: pink;
  color: teal;
}
.cake3{
  fill: blue;
  color: orange;
}
.cakebase{
  fill: currentColor;
}