/******************************************************************************
BLOG SPECIFIC STYLES START HERE 
******************************************************************************/
section{
	margin-bottom:2em;
}

p{
	column-count: 3;
	column-gap: 16px;
	column-width:150px;
}