/******************************************************************************
BLOG SPECIFIC STYLES START HERE 
******************************************************************************/

img {
    position: relative;
    left: 10px;
    top: 10px;
}